@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,200;0,300;0,400;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
    --cor1: #1D613E;
    --cor2: #00612F;
    --cor3: #00AD54;
    --cor4: #00E06C;
    --cor5: #45E692;
    --cor6: #45E6AB;
    --cor7: #45e6abc0;

    --font1: 
    --font2: 'Ysabeau Infant', sans-serif;
    --font3: 'Open Sans', sans-serif;
}

* {
    margin: 0%;
    padding: 0%; 
}

html, body {
    min-height: 100vh;
    min-width: 100vw;
    background-color:#3e3557;
    font-family: 'Ysabeau Infant', sans-serif;;
    font-weight: normal;
    line-height: 2.5em;
    text-indent: 0px;
    text-align: justify;
}

header {
    background-image: linear-gradient(0deg ,#201b2c, #423957);
    background-color: #201b2c;
    text-align: center;
    min-height: 150px;
    color: white;
    padding-top: 20px;
}

header > h1 {
    color: white;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 3.3em;
    font-family: var(--font1);
    font-weight: normal;
    padding-bottom: 10px;

    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.485);
}

header > p {
    color: white;
    font-family: var(--font3);
    font-size: 1.1em;
    max-width: 559px;

    margin: auto;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.485);
}

header > img {
    max-height: 300px;
    max-width: 500px;
}

nav {
    background-color: #201b2c;
    padding: 10px 10px 20px 10px;
    box-shadow: 0px 7px 9px rgba(112, 111, 111, 0.068);
    text-align: center;
}

nav a {
    color: rgba(0, 255, 255, 0.815);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .8s;
}

nav > a:hover {
    background-color: rgba(0, 255, 255, 0.533);
    color: rgba(0, 255, 255, 0.533);
    border-radius: 5px;
}


main {
    background-color: white;

    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.472);

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor02);
    font-family: var(--font2);
    margin: 25px;
    text-align: center;
}

main h2 {
    font-family: var(--font2);
    color: var(--cor1);
    font-size: 1.8em;
    background-image: linear-gradient(90deg, var(--cor01), transparent);
    text-indent: 8px;

    margin-top: 25px;
    margin-bottom: 10px;
}

main p {
    margin: 15px 30px;
    text-align: justify;
    text-indent: 10px;
    line-height: 2em;
}

main > section > img { 
    display: list-item;
    max-width: 50px;
    max-height: 50px;
    margin: 20px;
}

.logo {
    display: flex;
    justify-content: center;
}

section.centralizar > img {
    
}

section.centralizar > p {
    display: inline-block;
    margin: 20px 30px;
    font-family: var(--font2);
    line-height: 2.5em;
    text-indent: 0px;
    text-align: justify;
}

.jogo {
    display: inline;
    max-width: 450px;
    max-height: 1000px;
}

hr {
    border: 1px solid black;
}

.game > p {
    text-indent: 0;
    margin: 0;
}

.game > a {    
    width: 8vw;
    height: 5vh;
    margin: 0;
    padding: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: rgba(0, 255, 255, 0.767);
    cursor: pointer;

    box-shadow: 0px 10px 40px -12px #00000056;

}

.game > a::after {
    width: 8vw;
    height: 5vh;
    margin: 0 0 0 20px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: rgba(0, 255, 255, 0.767);
    cursor: pointer;

    box-shadow: 0px 10px 40px -12px #00000056;
}

section > h1 {
    font-size: 20px;
}

.green {
    color: rgb(0, 189, 0);
}

.yellow {
    color: rgb(212, 212, 41);
}

.red {
    color: red;
}

.quests h2 {
    text-indent: 0;
    font-size: 18px;
    font-weight: normal;
    text-align: justify;
    font-family: var(--font3);
}

.back {
    margin: 30px 10px;
    width: 50px;
    height: 50px;
}

li {
    margin-left: 15px;
}

.contact {
    display: flex;
    align-items: center;
}

section.contact > img {
    margin: 0;
    width: 30px;
    height: 30px;
}

.contact > p {
    margin: 25px 10px ;
}

.footer {
    display: flex;
    align-items: end;
}

footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #201b2c;
    text-align: center;
    color: white;
    margin-top: 50px;
    font-size: 1.2em;
    padding: 5px;
    flex: 1;
}

footer a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
    transition-duration: .8s;
}

footer a:hover {
    color: #ebebeb;
    background-color: #341c6b;
    padding: 2px 6px;
    border-radius: 2px;
}

@media only screen and (max-width: 600px) {
    header > img {
        margin-top: 25px;
        width: 80vw;
        height: 15vh;
    }

    footer {
        font-size: 1em;
    }
}